@{
    ViewBag.Title = "Home";
}
<section class="hero-section">
    <div class="hero-left">
        <h1>Car Cleanz</h1>
        <p>Premium on-site car cleaning & subscription plans. We come to you.</p>
    </div>
</section>
<section class="services">
    <h2>Monthly Service Package</h2>
    <div class="cards">

        <div class="card">
            <h3>Hatchback</h3>
            <p>?499 — Exterior + Interior quick clean</p>
            <ul class="service-points">
                <li>External Waterless Wet / Dry Wash</li>
                <li>Basic Internal Vacuum Cleaning</li>
                <li>Dashboard and Console Cleaning + Shine</li>
                <li>Tire and Rim Dressing</li>
            </ul>
            <a href="/Booking/Create" class="btn-book">Book Now</a>
        </div>

        <div class="card">
            <h3>Sedan</h3>
            <p>?650 — Full clean with seat vacuum</p>
            <ul class="service-points">
                <li>External Waterless Wet / Dry Wash</li>
                <li>Basic Internal Vacuum Cleaning</li>
                <li>Dashboard and Console Cleaning + Shine</li>
                <li>Tire and Rim Dressing</li>
            </ul>
            <a href="/Booking/Create" class="btn-book">Book Now</a>
        </div>

        <div class="card">
            <h3>SUV</h3>
            <p>?750 — Premium wash + interior detailing</p>
            <ul class="service-points">
                <li>External Waterless Wet / Dry Wash</li>
                <li>Basic Internal Vacuum Cleaning</li>
                <li>Dashboard and Console Cleaning + Shine</li>
                <li>Tire and Rim Dressing</li>
            </ul>
            <a href="/Booking/Create" class="btn-book">Book Now</a>
        </div>

    </div>
</section>