@{
    ViewBag.Title = "Booking Success";
}

<section class="success-section">
    <h2>? Booking Successful!</h2>
    <p>Thank you, <strong>@Html.Encode(ViewBag.Name)</strong>, for booking with <strong>Car Cleanz</strong>.</p>

    <a href="/" class="btn-home">Go to Home</a>
</section>